*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    color:dodgerblue;
}
html{
    font-size: 75%;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 30px;
    box-shadow: 2px 2px 2px lightskyblue;
}

header a{
    position: relative;
    font-size: 2rem;
}

header a hover{
    color: red;
}

header #main_tabs a{
    margin-right: 1em;
}